.center-logo {
    position:absolute;
    left:50%;
    top:50%;
    height: 105px;
    width: 290px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    margin-left: -145px; /* -1/2 width */
    margin-top: -52px; /* -1/2 height */
}